<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>


<body class="detalle">
    <%- include('partials/header') %>

    <main class="detalle__main">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-12 col-md-5">
                            <div class="d-flex flex-column gap-1">
                                <img id="main-image" src="/img/products/<%= images.find(image => image.main).file %>" class="img-fluid  animate__animated animate__flipInX" alt="...">
                                <div class="d-flex justify-content-between">
                                    <% images.filter(image => !image.main).forEach((image,index) => { %>
                                        <img src="/img/products/<%= image.file %>" width="32%" alt="" class="animate__animated animate__fadeIn animate__delay-<%= index + 1 %>s"
                                        onclick="document.getElementById('main-image').setAttribute('src','/img/products/<%=image.file%>')">
                                    <% }) %>
                                  
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-7">
                            <div class="card-body">
                                <h5 class="card-title"><%= title %></h5>
                                <hr>
                                <p class="card-text"><%= description %></p>
                                <div class="d-flex align-items-center gap-2">
                                    <small class="text-muted text-decoration-line-through fs-4">$<%= price %></small>
                                    <p class="card-text  fs-2">$<%= price - (price * discount / 100) %></p>
                                </div>
                                
                                <div class="d-flex justify-content-end">
                                    <button onclick="addItemToCart(1,'<%=id%>')" class="btn btn-dark">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>

</body>

</html>